
@media screen and (max-width: 1400px){
    .header .header-box h2{
        font-size: 20px;
    }
    .header .header-box h1{
        font-size: 30px;
    }
    .header .header-box p{
        font-size: 12px;
    }
    .header .header-box img{
        width: 200px;
        margin-bottom: 10px;
        margin-top: -20px;
    }
    .navbar {
        font-size: 12px;
    }
    .header-info.info1 {
        top: 200px;
        left: 250px;
    }
    .header-info.info2 {
        top: 200px;
        right: 250px;
    }
    .header-info.info3 {
        top: 500px;
        right: 100px;
    }
    .header-info.info4 {
        top: 500px;
        left: 100px;
    }
}